<html>
    <head>
        <!-- link rel="stylesheet" href="../../assets/stylesheets/student.scss" -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- 下記の記述でVue.jsをインポートしている -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- v-model="name"で、Vue.jsで設定したdateとHTMLのinput要素が同期する -->

            名前：<input v-model="name" placeholder="E.g. Feed the cat">
            コース：<input v-model="course" placeholder="E.g. Feed the cat">
            受講期：<input v-model="acceptancePeriod" placeholder="E.g. Feed the cat">
            <br>

            <!-- button v-on:click="addStudent"で、buttonがclickされた時に起動するメソッドを選択する -->

            <button v-on:click="addStudent">入力した生徒を追加する</button>

            <ul>
                <!-- v-for="student in students" で、配列studentsを一つ一つ切り出して変数studentに代入している -->
                <!-- v-bind:key="student.id"は、切り出された各要素の一意性を確保するために使う -->

                <li
                    is="student-item" 
                    v-for="(student, index) in students" 
                    v-bind:id="student.id"
                    v-bind:name="student.name"
                    v-bind:course="student.course"
                    v-bind:acceptancePeriod="student.acceptancePeriod"
                    v-on:remove="students.splice(index, 1)">
                </li>
                <br>
            </ul>
        </div>
        <!-- script src="../../javascript/packs/student_vue.js"></script -->
    </body>
</html>